.ads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  background-color: rgb(176, 185, 76);
  border-radius: 12px;
  position: relative;
}

.ads-image {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.ads-description {
  grid-column: 2 / -1;
  padding: 16px 30px 16px 0;
}

.ads-description .title-style-text {
  font-size: 30px;
  font-weight: 800;
  font-family: 'Noto Sans JP';
  color: rgb(33, 33, 33);
}

.ads-description .normal-text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(33, 33, 33);
  margin-top: 16px;
}

.ads-description .featured-text {
  margin-left: 4px;
}

.ads-description .learn-more-button {
  background-color: rgb(33, 33, 33);
  color: white;
  border-style: none;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  height: 36px;
  border-radius: 18px;
  margin-top: 16px;
}

.ads .clear-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 16px
}

.ads-image-container {
  position: relative;
}

.launch-button {
  position: absolute;
  right: 16px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-style: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.launch-button .icon {
  fill: white;
  height: 16px;
  width: 16px;
}

.standard-ads .ads-image {
  cursor: pointer;
}

.standard-ads .author {
  margin-top: 16px;
  margin-bottom: 12px;
}

.standard-ads .author strong {
  color: black;
  font-size: 12px;
}

.standard-ads .options {
  display: flex;
}

.watch-button,
.learn-more-button {
  flex: 1;
  height: 36px;
  color: rgb(7, 95, 212);
  border-radius: 18px;
  border-width: 1px;
  margin: 0 2px;
  cursor: pointer;
  font-weight: 500;
}

.watch-button {
  border-color: rgb(230, 230, 230);
  border-style: solid;
  background-color: white;
}

.learn-more-button {
  border-style: none;
  background-color: rgb(222, 241, 254);
}

.watch-button:hover {
  background-color: rgb(222, 241, 254);
  border-style: none;
}

.learn-more-button:hover {
  background-color: rgb(218, 223, 230);
}

.standard-ads .option-button {
  display: flex;
}