.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 40px;
  padding: 0 24px;
}

/* .content {
  border: 1px;
  border-style: solid;
} */

.thumbnail {
  width: 100%;
  border-radius: 12px;
}

.thumbnail:hover {
  border-radius: 0;
  cursor: pointer;
}

.video-info {
  display: flex;
  position: relative;
  margin-top: 10px;
}

.video-info:hover {
  cursor: pointer;
}

.avatar {
  width: 36px;
  border-radius: 18px;
  /* margin-top: 12px; */
  margin-right: 12px;
}

.description {
  margin-right: 40px;
}

.title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  max-height: 44px;
  /* margin-top: 12px; */
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.author,
.stats {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(96, 96, 96);
}

.verified-icon {
  width: 14px;
  height: 14px;
  fill: currentColor;
  margin-bottom: -2px;
}

.option-button {
  position: absolute;
  background-color: white;
  border-style: none;
  border-radius: 50%;
  padding: 8px;
  top: -6px;
  right: -10px;
  display: none;
  transition: background-color 0.15s;
}

/* the button suppose to change back to white */
.option-button:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.option-button:hover {
  cursor: pointer;
}

.video-info:hover .option-button {
  display: flex;
}

.option-button .icon {
  height: 24px;
  width: 24px;
}

.shorts-row {
  background-color: blueviolet;
}