.header {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.hamburger-menu-icon {
  padding: 8px;
  height: 24px;
  width: 24px;
}

.youtube-logo {
  padding: 18px 14px 18px 16px;
  height: 20px;
  width: 90px;
}

.country-code {
  margin-top: 12px;
  margin-left: -10px;
  font-size: 10px;
  height: 44px;
  color: rgb(96, 96, 96);
}

.header-mid {
  border: 1px;
  border-style: solid;
}

.header-right {
  border: 1px;
  border-style: solid;
}