.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: scroll;
  z-index: 100;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 220px;
  background-color: white;
  padding: 12px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.sidebar-section-style-string {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
}

.sidebar-section-title,
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 40px;
  border-radius: 10px;
}

.home-tab {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-item .icon {
  height: 24px;
  width: 24px;
  margin-right: 24px;
}

.sidebar-item-style-string {
  font-size: 14px;
}

/* .footer {} */

.footer-section {
  padding: 16px 16px 0 12px;
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  margin-right: 8px;
  font-size: 13px;
  font-weight: 500;
  height: 18px;
  color: rgb(96, 96, 96);
}

.footer-item:hover {
  cursor: pointer;
}

.foot-note {
  margin: 16px 12px;
  color: rgb(144, 144, 144);
  font-size: 12px;
  font-weight: 400;
}